body{
    display: flex;
}

.contenedor{
    background-color: black;
    border-radius: 25px;
    width: 200px;
    height: 240px;
    margin: 8px;
    justify-content: center;
    justify-items: center;
    position: relative;
    text-align: center;
}

.contenedor:nth-of-type(1) p{
    transform: translate(25%,0);
}

.contenedor .menos, .mas {
    display: inline-flex;
}

.mas{
    margin-left:50%; 
}

#bloque{
    background: red;
    position: absolute;
    transform: translateY(280px);
    width: 200px;
    height: 200px;   
}

input[type="range"]{
    width: 100px;
}


h4, p, label{
    color: white;
    font-size: 1.2em;
}

select{
    margin: 5px 10px;
}

#posicionY{
    transform: rotate(90deg);
}

input[type="text"] {
    width: 100px;
}
